* {
      margin: 0;
      padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* color variable **/

root {
      --primery: rgba(33, 35, 83, 1);
      --bcolor: #9C69E2;
      --secondary: #4B5D68;
      --green: #68C9BA;
      --red: #F063B8;
}



body {
      background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
      background-repeat: no-repeat;
      font-size: 20px;
      font-weight: 500;
}

.container {

      margin: 0 15%;


}

.top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px solid rgb(204, 221, 255);
      align-items: center;
      height: 60px
}

.nav,
li {
      list-style: none;
      display: inline;
      margin-right: 20px;
      font-weight: 500;
      line-height: 25.6px;
      font-family: 'Roboto', sans-serif;

}

li > a {
      text-decoration: none;
      display: inline;
      color: #000;

}
.btn{
  border: none;
  display:flex;
  flex-direction:row;
  background-color:#fff;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.Demo {
     



}

/* ==== into css === rule===  section 1*/

.main{
      margin-top: 40px;
      height: 400px;
      display: flex;
      flex-direction: row;
      position: relative;
}
.lhi{
     
      width: 40%;
      height: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
}


.rsm{
      width: 60%;
}
.rsm > img{
  width:100%;
  height: 400px;
}

.rmore{

      font-size: 1.5rem;
      font-weight: 500;
      height: 5vh;
      width: 10vw;
      border-radius: 10px;
      border: none;
      background-color:#F063B8;
      color: #fff;
      cursor: pointer;
      padding: 10px;
}



/* About css */

.about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     background-color:#6546a3;
      border-radius: 1rem 1rem 0 0;
}
.lhi > img{
      justify-content: center;
      align-items: center;
      width:100%;
      height: 400px;
      border-right: white .2rem dashed;
}

.aboutIntro{
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      justify-content: center;
      color: #fff;
      width: 50%;
      font-size: 1.2rem;
     
      letter-spacing:
      
}


#intoheading {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 60px;
      line-height: 110%;
      color: var(--primery);

}

#inropragraf {

      width: 300px;

      margin-top: 10px;
      color: var(--primery);
      font-family: 'lito', sans-serif;
      line-height: 1.5;
}

.learnmore {
      margin-top: 10px;
      padding: 10px;
      border-radius: 20px;
      border: none;
      background-color: rgba(156, 105, 226, 1);
      color: #fff;


}

/***section 2 css code ***/

.storagebank {
      position: relative;
      background-color: rgb(253, 232, 244);
      width: 862px;
      height: 233px;
      Height: 184px ;
      border-radius: 50px;
      margin: 10px 15%;

      padding: 16px;
}

.storageimage {
      float: left;
      width: 28%;
      margin-right: 158px;

}

.strage {

      width: 90%;
      margin-top: 30px;
      color: var(--primery);
      font-family: 'Roboto', sans-serif;
      line-height: 1.5;
      font-size: 12px;
}
/* New CSS for Feture setion */

.feture {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 3rem;
       margin-bottom: 3rem; 
       row-gap: 1.5rem;


}

.fetureheading {
      letter-spacing: .9rem;
      color: #68C9BA;
      text-transform: uppercase;
}

.feturepara{
   font-size: 1.5rem;
   width: 40%;
   letter-spacing: .1rem;
   color: rgb(63, 63, 63);
}

/**** detail section css ****/
.detailf {

      width: 442px;
      height: 358px;
      background-color: rgb(199, 238, 230);
      border-radius: 50px;
      text-align: left;
      position: relative;
}

.fitem {
      margin-top: 40px;
}

.fimage {

      width: 35%;
      float: left;
      margin-top: 94px;

}

.data {
      margin-top: 30px;
}

.deati {
      margin: 0 15%;
      position: relative;
      font-family: 'lito', sans-serif;
      display: flex;
      flex-basis: 50%;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 13px;
      line-height: 1.5;
}

.searpara {
      width: 200px;
      position: absolute;
      left: 130px;
      bottom: 20px;

}

.para {
      width: 150px;
}

.back {
      background-color: rgb(240, 250, 248);
      width: 350px;
      height: 200px;
      margin-bottom: 20px;
      position: relative;
      border-top-left-radius: 80px;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      border-bottom-left-radius: 27px;
      flex-basis: 50%;
}

.dataimg {
      position: absolute;
      right: 260px;
      width: 150px;
      height: 200px;
}

#house {
      background-color: rgb(245, 240, 252);
}

#print {
      background-color: rgb(247, 250, 254);
}

#security {
      background-color: rgb(255, 255, 255);

}

hr {
      margin: 30px 0 40px 0;
}



/* new css for feture section  */ 

.feture-detail{
     
      height: 300px;
      border-radius: 0 0 15px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.left-side , .right-side{
      display: flex;
      width: 45%;
      background-color: #F6FAFD;
      border-radius: 20px;
      padding: 20px;
      justify-content: space-between;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.feture-image{

       border-radius: 50%;
       width: 9rem;
       padding: 1rem;
}
